<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="BT5.2 Condition and MCDC Suite">
    <test name="Loan Eligibility Tests">
        <classes>
            <class name="bt52.LoanConditionCoverageTest"/>
            <class name="bt52.VayVonMCDCTest"/>
        </classes>
    </test>
</suite>
